@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    background: linear-gradient(312deg,rgba(0, 0, 0, 1) 0%, rgba(21, 18, 14, 1) 50%, rgba(240, 101, 67, 1) 100%) no-repeat;
}


#div_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    height: 100%;
    width: 80%;
}

.lado-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-login {
    max-width: 420px;
    width: 100%;
    height: auto;
}

.lado-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input {
    width: 80%;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    background-color: #53535321;
    outline: none;
    color: white;
    font-size: 1.2em;
    transform: translateX(25px);
}

input::placeholder {
    color: white;
}

.icon {
    width: 50px;
    height: 50px;
    transform: translateX(-50px);
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 100%;
}

.account-text {
    width: 80%;
    color: white;
}

.account-text a {
    color: #006EFF;
    font-weight: 400;
}

#btn-submit {
    font-size: 1.2em;
    width: 80%;
    height: 70px;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

#btn-submit:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.btn-login-google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 0 10px;
    background-color: white;
    cursor: pointer;
}


.google-logo{
    width: 50px;
}

h1 {
    width: 80%;
    color: white;
}